+++
title = "Jyutping"
linkTitle = "Jyutping"
+++

{{< blocks/cover title="Jyutping" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">Easy & practical -<br />the most commonly used romanization scheme for Cantonese</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="blue" >}}
{{% blocks/feature icon="fa-bullhorn" title="Improve your pronunciation" %}}
<p>By learning jyutping, you can know the exact pronunciation of a word, thus mispronunciation can be avoided.</p>
<p>Similar to Pinyin in Mandarin, you can easily know the pronunciation of a word in Cantonese by looking up its jyutping.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="Why should I learn Jyutping?" %}}
<p>Since Chinese is not a phonographic language, a Chinese character itself doesn't tell you its pronunciation. A system is required to organize and represent the pronunciations of the words, and that's exactly why Jyutping exists. It's an easy system which you can learn with not much effort.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="Jyutping helps you type" %}}
<p>Knowing Jyutping, you can type Cantonese smoothly with Jyutping keyboards, the most natural and easiest way to type Cantonese.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab" title="" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="I am a Cantonese learner and I speak English." %}}
<div class="mx-auto">
	<br />
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs/english" >}}">
		Start learning Jyutping <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-language" title="識粵語？"%}}
<div class="mx-auto">
	<a href="/">
		切換到本站粵語版 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}
